// Global variables

// Font families
/* Headings */
$text-primary: "Roboto",
serif;
/* Body text */
$text-secondary: "Lato",
serif;
// Font sizes
$fs-heading-1: 3.125rem;
/* 50px */
$fs-heading-2: 2.5rem;
/* 40px */
$fs-heading-3: 2.188rem;
/* 35px */
$fs-heading-4: 1.875rem;
/* 30px */
$fs-body: 1.25rem;
/* 20px */

// Font weights
$fw-extra-bold: 800;
$fw-bold: 700;
$fw-semi-bold: 550;
$fw-medium: 425;
$fw-regular: 300;

h1 {
    font-size: $fs-heading-1;
}

h2 {
    font-size: $fs-heading-2;
}

h3 {
    font-size: $fs-heading-3;
}

h4 {
    font-size: $fs-heading-4;
}

p {
    font-size: $fs-body;
}