// Global variables

// Font families
/* Headings */
$text-primary: "Roboto",
serif;
/* Body text */
$text-secondary: "Lato",
serif;
// Font sizes
$fs-heading-1: 3.125rem;
/* 50px */
$fs-heading-2: 2.5rem;
/* 40px */
$fs-heading-3: 2.188rem;
/* 35px */
$fs-heading-4: 1.875rem;
/* 30px */
$fs-subheading: 1.25rem;
/* 20px */
$fs-body: 1rem;
/* 16px */

// Font weight

$fw-extra-bold: 800;
$fw-bold: 700;
$fw-semi-bold: 550;
$fw-medium: 425;
$fw-regular: 300;

// Colors

$clr-white:#ffffff; // White
$clr-light-grey:#ededec; // Anti-flash-white
$clr-grey: #454545; // Onyx
$clr-dark-grey: #343635; // Onyx
$clr-black: #454545; // Eerie black