@use "palette";

@mixin hover-underline {
    position: relative;
    display: inline-block;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: palette.$clr-white;
        height: 1px;
        width: 0;
        transition: width 300ms;
    }

    &:hover:after {
        width: 100%;
    }
}