// Colors
$clr-primary: #FFDD1F; //  School bus yellow
$clr-white:#ffffff; // White
$clr-light-grey:#757575; // Anti-flash-white
$clr-grey: #454545; // Onyx
$clr-dark-grey: #343635; // Onyx
$clr-black: #343635; // Eerie black