/* Headings */
/* Body text */
/* 50px */
/* 40px */
/* 35px */
/* 30px */
/* 20px */
/* 16px */
h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.188rem;
}

h4 {
  font-size: 1.875rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #454545;
}

nav {
  background-color: #454545;
  color: #ffffff;
}
nav .navbar__brand {
  font-family: "Roboto", serif;
  font-size: 2.188rem;
}
nav .navbar__link {
  font-size: 1rem;
  font-family: "Lato", serif;
  position: relative;
  display: inline-block;
}
nav .navbar__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #ffffff;
  height: 1px;
  width: 0;
  transition: width 300ms;
}
nav .navbar__link:hover:after {
  width: 100%;
}
