@use "fonts";
@use "palette";
@use "mixins";

// Resetting base styles here globally

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: palette.$clr-white;
}

body {
    background-color: palette.$clr-black;
    color: palette.$clr-white;
}

nav {

    background-color: palette.$clr-black;
    color: palette.$clr-white;

    .navbar__brand {
        font-family: fonts.$text-primary;
        font-size: fonts.$fs-heading-3;
    }

    .navbar__link {
        font-size: fonts.$fs-body;
        font-family: fonts.$text-secondary;
        @include mixins.hover-underline;
    }
}

#portfolio {

    .image__wrapper {
        aspect-ratio: 3 / 2;
        overflow: hidden;
    }

    .portfolio__container {
        background-color: palette.$clr-grey;


        .tech__tag {
            background-color: palette.$clr-light-grey;
            border-radius: 10px;
            display: inline-block;
        }
    }


}

#about-me {

    .image__wrapper {
        aspect-ratio: 3 / 4;
        max-height: 300px;
    }
}