@use "../abstracts/palette";

// Resetting base styles here globally

img {
    object-fit: cover;
}

body {
    padding-top: 89px;
    background-color: palette.$clr-dark-grey;
    color: palette.$clr-white;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
